{% extends 'base.html' %}

{% block content %}

    {% if error %}

        {{ error }}

    {% endif %}

    <h1>Log In</h1>

    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}


        <label>
            Username:
            <br>
            <input type="text" name="username"/>
        </label>
        <br>
        <br>
        <label>
            Password:
            <br>
            <input type="password" name="password"/>
        </label>
        <br>
        <br>
        <input type="submit" class="btn btn-primary" value="Log In">


    </form>

{% endblock %}