{% extends 'base.html' %}

{% block content %}

{% if error %}

{{ error }}

{% endif %}

<h1 class="nav-link active ">Sign Up</h1>

<form method="POST" action="{% url 'signup' %}">
{% csrf_token %}

    <label>
Username:
    <br>
    <input type="text" name="username" />
    </label>
    <br>
    <label>
Password:
    <br>
    <input type="password" name="password1" />
    </label>
    <br>
    <label>
Confirm Password:
    <br>
    <input type="password" name="password2" />
    </label>
    <br>
    <br>
    <input type="submit" class="btn btn-primary" value="Sign Up">


</form>

{% endblock %}